<ul class="layout-menu">
    <!--Level1-->
    <ng-container *ngFor="let level1 of model; let i = index;">
        <li class="layout-root-menuitem">
            <div class="layout-menuitem-root-text">{{level1.label}}</div>
        </li>
        <!--Level2-->
        <ul *ngFor="let level2 of level1.items; let j = index;">
            <ng-container *ngIf="(!level2.routerLink || level2.items); else menulevel3">
                <li [ngClass]="{'active-menuitem': level2.expanded}">
                    <a (click)="toggleActive(level2)" [attr.href]="level2.url" pRipple>
                        <i [ngClass]="level2.icon" class="layout-menuitem-icon"></i>
                        <span class="layout-menuitem-text">{{level2.label}}</span>
                        <i class="pi pi-fw pi-angle-down layout-submenu-toggler"></i>
                    </a>
                </li>
                <ul *ngIf="level2.items" [@children]="level2.expanded ? 'expanded' : 'collapsed'">
                    <li *ngFor="let level3 of level2.items; let k = index;">
                        <a (click)="onAddTab(level3)" [routerLink]="level3.routerLink" pRipple>
                            <i [ngClass]="level3.icon" class="layout-menuitem-icon"></i>
                            <span class="layout-menuitem-text">{{level3.label}}</span>
                        </a>
                    </li>
                </ul>
            </ng-container>
            <ng-template #menulevel3>
                <a (click)="onAddTab(level2)" [routerLink]="level2.routerLink" pRipple>
                    <i [ngClass]="level2.icon" class="layout-menuitem-icon"></i>
                    <span class="layout-menuitem-text">{{level2.label}}</span>
                </a>
            </ng-template>
        </ul>
    </ng-container>
</ul>