<div class="card mb-3 ">
    <div class="flex align-items-center justify-content-between mb-4">
        <h5>通知事項</h5>
    </div>
    <span class="block text-600 font-medium mb-3">2024/04/30</span>
    <ul class="p-0 m-0 list-none">
        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
            <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                <i class="pi pi-tag text-xl text-blue-500"></i>
            </div>
            <span class="text-700"> reportpdf <span class="text-blue-500"><a [routerLink]="['/demo/reportpdf']">reportpdf</a></span></span>
        </li>
    </ul>
</div>